<%- include('partials/header') %>
    <div style="text-align: center; margin-top: 5rem;">
        <h1> Welcome <%= name %></h1>
        <form action="/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>

<%- include('partials/footer') %>
