<%- include('partials/header') %>
    <div class="home">
        <h1> Welcome <%= name %></h1>
        <form action="/logout" method="POST">
            <button class="button-27" type="submit">Log Out</button>
        </form>
    </div>

<%- include('partials/footer') %>
